<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<img src="https://media.licdn.com/dms/image/C4E0BAQHo9H79-s-T4w/company-logo_200_200/0/1597157797003?e=2147483647&v=beta&t=sWxmvmsSg7gyG3g44gEXbfeOhzBKjaw4EhhkAUuoNPk" alt="Link Logo" />
<br>
<%= link_to '<button type="button">Go Ahead and Logout</button>'.html_safe, logout_path %>
